[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
validators = "*"
flasgger = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
autopep8 = "*"
pylint = "*"
pylint-flask = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
