[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-bcrypt = "*"
validate-email = "*"
flask-jwt-extended = "*"
validators = "*"
flask-marshmallow = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.8"
